<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="newCustom.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap" rel="stylesheet">


  <title>USER INDEX</title>
</head>

<body class="bg-primary">

  <!-- TITLE AND BUDGET -->
  <div class="container pt-5">
    <h2 class="text-white mb-3">Organize your wishlist</h2>
    <p class="text-white w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illum amet quam magni nisi, ut itaque beatae mollitia architecto delectus iure cum laudantium facilis aspernatur ab. Inventore illo voluptatem labore.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <form action="/search" class="text-white" method="post">
          <label for="fname" class="my-n1 text-white">username:</label><br>
          <input type="text" id="username" name="username" class="mb-3"><br>
          <input class="px-4 text-primary bg-white btn-light" type="submit" value="SEARCH">
        </form>
      </div>
      <div class="col">
        <form action="/create_user" class="text-white" method="post">
          <label for="fname" class="my-n1 text-white">Put the username you want to create:</label><br>
          <input type="text" id="create_user" name="create_user" class="mb-3"><br>
          <input class="px-4 text-primary bg-white btn-light" type="submit" value="CREATE">
        </form>
      </div>
  </div>



  <!-- JS script import -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="index.js"></script>

</body>

</html>
